{% extends 'base.html.twig' %}
{% block title %}Mon blog{% endblock %}

{% block stylesheets %}
  <style>
    img {
      width: 100%
    }
    p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    }
  </style>
{% endblock %}

{% block body %}
  <div class="container">
    <h1 class="text-center">Le blog de l'année</h1>
      {% for article in articles %}
          <div class="row mt-4">
            <div class="col-lg-4 col-md-4">
              {% if article.image %}
                <img class="image-article" src="{{article.image}}" alt="">
              {% endif %}
            </div>
            <div class="col-lg-8 col-md-8">
              <h3 class="title">{{article.title}}</h3>
              <p class=""><small class="text-muted">Fait le {{ article.date.format('d/m/Y') }}</small></p>
              <p class="">{{article.content}}</p>
              <a class="btn btn-primary" href="{{path('article_view', {id: article.id})}}" role="button">Lire la suite</a>
            </div>
          </div>
      {% endfor %}
  </div>
{% endblock %}
